<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.infras.dao.mapper.FundUserBalanceMapper">

    <select id="selectUserBalanceByPage" resultType="com.fund.infras.dao.entity.resp.FundUserBalanceResp">
        select b.id,
               u.name,
               l.fund_code,
               l.fund_name,
               b.fund_date,
               b.latest_date,
               b.purchase_amount,
               b.balance
        from fund_user_balance b
        left join fund_user u on b.user_id = u.id
        left join fund_list l on b.fund_id = l.id
        where b.sold_status = 0
          and b.utc_deleted = 0
        order by u.name
    </select>

</mapper>